body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font: size 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;

}
section {
    width: 300px;
    background-color: rgb(0, 0, 50);
    color: white;
    margin: 10px;
}